h2,
h3,
p {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e6ccb2;
  max-width: 70%;
  margin: 0 auto;
  color: #5c4033;
}

.grid h2 {
  margin-bottom: 5px;
}

.grid p {
  margin-bottom: 5px;
}

.flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px;
}

body {
  background-color: #f2f0f5;
  font-family: Arial, Helvetica, sans-serif;
}

.flex a {
  background: #e6ccb2;
  padding: 15px 40px;
  font-size: large;
  text-decoration: none;
  color: #5c4033;
}

.titulo {
  text-align: center;
}

img {
  max-width: 100%;
}

.foto {
  width: 100%;
}

.conteudoProduto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2%;
  text-align: right;
  align-self: center;
}

.verMais {
  background-color: red;
  color: white;
  padding: 15px 40px;
  align-self: flex-end;
  border-radius: 6%;
}

.tituloVantagens {
  font-size: 64px;
  text-transform: uppercase;
  color: #5c4033;
  text-align: right;
  padding: 40px;
  align-self: center;
}

.vantagensLista {
  padding: 20px;
  background: #b8a9c9;
}

.vantagensItens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 80px;
}
